.fot-information {
  display: flex;
  position: absolute;
  bottom: calc(0px + 1px);
  width: 100vw;
  height: 50px;
  background-color: red;
}

.sec-information-footer {
  display: flex;
  justify-content: start;
  position: relative;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  margin: 0;
  padding: 0;

  & .p-information-footer {
    position: absolute;
    display: grid;
    color: black;
    font-weight: bolder;
    bottom: -17px;
    height: 50px;
  }
}

.sec-aditionalInfo-footer {
  display: grid;
  width: 50%;
  place-items: end;
  align-items: center;
  padding: 0 3px 0 0;
  right: 0;
}
