.bg-navbar {
  background-color: transparent;
}

.navbar-brand {
  text-align: center;
  border-radius: 7px;
  padding: 5px 8px;
  margin: 0;

  &:hover {
    background-color: red;
    transition: background-color 0.5s;
    color: wheat;
  }

  img {
    width: 50px;
    height: 50px;
    border: 0;
    margin: 0;
  }
}

.nav-link {
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0;
  &:hover {
    background-color: #da0125;
    color: white;
    transition: background-color 0.62s;
  }
}

.dropdown-menu {
  background-color: transparent;
  right: 0;
}

li {
  background-color: transparent;
  padding: 0 20px;

  &:hover {
    background-color: transparent;
  }
}

.dropdown-item {
  width: auto;
  transition: background-color 0.7s;
  border-radius: 5.5px;
  margin: 0;
  &:hover {
    color: white;
    background-color: #da0125;
  }
}
